.layout-topbar-bluegrey {
    --topbar-bg: #546e7a;
    --topbar-start-bg: #37474f;
    --topbar-menu-button-bg: #0097a7;
    --topbar-menu-button-hover-bg: #008593;
    --topbar-menu-button-text-color: #ffffff;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.12);
}
