.layout-topbar-blue {
    --topbar-bg: #1565c0;
    --topbar-start-bg: #0d47a1;
    --topbar-menu-button-bg: #fbc02d;
    --topbar-menu-button-hover-bg: #dda928;
    --topbar-menu-button-text-color: #212121;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.12);
}
