.layout-topbar-lime {
    --topbar-bg: #afb42b;
    --topbar-start-bg: #9e9d24;
    --topbar-menu-button-bg: #f57c00;
    --topbar-menu-button-hover-bg: #f68c1f;
    --topbar-menu-button-text-color: #212121;
    --topbar-item-text-color: #212121;
    --topbar-item-hover-bg: rgba(0, 0, 0, 0.12);
}
