.layout-topbar-orange {
    --topbar-bg: #fb8c00;
    --topbar-start-bg: #ef6c00;
    --topbar-menu-button-bg: #212121;
    --topbar-menu-button-hover-bg: #454545;
    --topbar-menu-button-text-color: #ffffff;
    --topbar-item-text-color: #212121;
    --topbar-item-hover-bg: rgba(0, 0, 0, 0.12);
}
