.layout-topbar-deeporange {
    --topbar-bg: #d84315;
    --topbar-start-bg: #bf360c;
    --topbar-menu-button-bg: #00bcd4;
    --topbar-menu-button-hover-bg: #009eb2;
    --topbar-menu-button-text-color: #212121;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.12);
}
