.layout-topbar-teal {
    --topbar-bg: #00796b;
    --topbar-start-bg: #004d40;
    --topbar-menu-button-bg: #d32f2f;
    --topbar-menu-button-hover-bg: #d84848;
    --topbar-menu-button-text-color: #ffffff;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.12);
}
