.layout-topbar-green {
    --topbar-bg: #43a047;
    --topbar-start-bg: #2e7d32;
    --topbar-menu-button-bg: #f4511e;
    --topbar-menu-button-hover-bg: #f56639;
    --topbar-menu-button-text-color: #ffffff;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.12);
}
